body
{
font-family: sans-serif;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;


}
#title
{
 font-size: 1.5em;
 color:  #DCAE1D;
 font-family: Georgia, serif;
 font-family: "Gill Sans", sans-serif;
}
#h1
{
 font-size: 1.2em;
 color: white;
 padding-left: 80px;
 padding-right: 20px;
}

i
{
 padding-top: 10px;
 padding-right: 20px;
}
/* navigation bar */

header
{
 margin-top: 10px;
 padding:  0 0 2rem;
 background-color: black;
 color: ;
}

.navbar-brand
{
 font-size: 2.5rem;
}
.nav-item
{
 padding: 0 20px;
 color: #DCAE1D;
}
#nav-link
{
 font-size: 1.5rem;
 
 font-family: serif;
 color:  white;
}

#htwo1
{
 text-align: center;
 color:  white;
 padding: 30px;
 font-size: 3em;
}
#main
{
 font-family: sans-serif;
}

#pone1
{
 color: white;
 font-weight: bold;
 text-align: center;
 font-size: 1.5em;
}
#div2
{
 padding: 30px;
}

#hfour1
{
 color:  white;
 padding: 30px;
 font-size: 1.8em;
 text-decoration: underline;
}
#hsix1,#hsix2,#hsix3,#hsix4,#hsix5,#hsix6,#hsix7,#hsix8
{
 color:  white;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 1.5em;
}
#pone2,#pone3,#pone4,#pone5,#pone6,#pone7,#pone8,li
{
 color: white;
 font-size: 1.4em;
 padding: 15px;
}
#div2 li
{
 list-style-type:square;
}
#hfive
{
 padding: 40px;
 color: white;
 font-weight: bold;
 text-align: center;
 font-size: 2em;
}
